<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
<nav style = "display: flex; justify-content: space-around">  
  <a href="/">Home</a>
  <a href="/dice/2/6">2d6</a>
  <a href="/dice/2/10">2d10</a>
  <a href="/dice/1/20">1d20</a>
  <a href="/dice/5/4">5d4</a>

    <%= yield %>

  </body>
</html>
