<!DOCTYPE html>
<html>
  <head>
    <title>Dice Roll Static</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>

<a href="/dice/2/6">2d6</a>
<a href="/dice/2/10">2d10</a>

    <%= yield %>

  </body>
</html>
